#references{
	@extend %section;
	min-height: 100%;
	
	.refList{
		margin: 4rem 0 2rem 0;
		
		hr{
			margin: 3rem auto;
		}
		.item{
			list-style-type: none;
			margin-bottom: 2rem;
			
			figure{
				@include clearfix;
			}
			figcaption{
				text-align: left;
			}
		}
		.pic{
			margin-bottom: 1rem;
			text-align: left;
		}
		h1{
			margin-bottom: 1rem;
		}
		p{
			line-height: 1.5rem;
			color: lighten(black, 60%);
		}
		.details{
			margin: 2rem 0 1rem 0;

			li{
				display: inline-block;
				text-align: center;
				text-transform: uppercase;
				font-size: 0.8rem;

				i{
					background-image: url(../images/bg-hive.svg);
					background-repeat: no-repeat;
					width: 3rem;
					height: 3.5rem;
					line-height: 3.5rem;
					color: white;
					font-size: 1.5rem;
					margin-bottom: 0.5rem;
				}
			}
			span{
				display: none;
			}
			@include breakpoint($breakpoint-medium-width-em) {
				span{
					display: inline;
				}
			}		
		}
	}
}

